{% set PYTHON="%PYTHON%" if build_platform == "windows" else "$PYTHON" -%}
{% set EDITABLE_OPTION = " --editable " if editable else " " -%}
{% set COMMON_OPTIONS = pip_config + "-vv --no-deps --no-build-isolation" + EDITABLE_OPTION + manifest_root -%}

{% if installer == "uv" -%}
uv pip install --python "{{ PYTHON }}" {{ COMMON_OPTIONS }}
{% else %}
"{{ PYTHON }}" -m pip install --ignore-installed {{ COMMON_OPTIONS }}
{% endif -%}

{% if build_platform == "windows" -%}
if errorlevel 1 exit 1
{% endif %}
