{% if export_openssl -%}
export OPENSSL_DIR="$PREFIX"
{% endif %}

cargo --config net.git-fetch-with-cli=true install --locked --root $PREFIX --path {{ source_dir }} --no-track {{ extra_args | join(" ") }} --force
